<ion-content>

  <ion-row class="ion-margin-top">
    <ion-col size="4" *ngFor="let item of item1">
      <div class="circle-div">
        <ion-button size="small" fill="clear" slot="start">
          <ion-icon [name]="item.icon"></ion-icon>
        </ion-button>
        <div>
          <ion-text class="ion-text-center">{{ item.text }}</ion-text>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <hr />

  <div>
    <ion-item *ngFor="let item of item2" lines="none">
      <ion-label>{{ item.text }}</ion-label>
    </ion-item>
  </div>

</ion-content>