ion-header{
    ion-buttons{
        ion-icon{
            font-size: 1.5rem;
            color: var(--ion-color-primary);
        }
    }
}

ion-avatar{
    width: 40px;
    height: 40px;
}

.avatar{
    width: 70px;
    height: 70px;
}

ion-slides{
    ion-slide{
        ion-col{
            text-align: -webkit-center;
        }
        ion-thumbnail{
            min-width: 3rem;
            min-height: 3rem;
            border-radius: 50%;
            margin: 0;
            border: 1px solid var(--ion-color-primary);
            ion-icon{
                transform: translateY(6.3vh);
                // transform: translateX(3.2vh);
                font-size: 1.6rem;
            }
            img{
                border-radius: 50%;
            }
        }
    }
}

// ion-slide{
//     ion-avatar{
//         ion-icon {
//             transform: translateY(1.6vh);
//             font-size: 1.6rem;
//         }
//     }
// }

::-webkit-scrollbar {
    display: none;
}

.col{
    display: flex;
}

.post {
    position: relative;
}